/.vs/BankClient/v15/.suo
/.vs/BankClient/v15/Server/sqlite3/db.lock
/.vs/BankClient/v15/Server/sqlite3/storage.ide
/.vs/BankClient/v15/Server/sqlite3/storage.ide-shm
/.vs/BankClient/v15/Server/sqlite3/storage.ide-wal
/BankClient/bin/Debug/BankClient.exe
/BankClient/bin/Debug/BankClient.exe.config
/BankClient/bin/Debug/BankClient.pdb
/BankClient/obj/Debug/BankClient.csproj.CoreCompileInputs.cache
/BankClient/obj/Debug/BankClient.csproj.FileListAbsolute.txt
/BankClient/obj/Debug/BankClient.csprojAssemblyReference.cache
/BankClient/obj/Debug/BankClient.exe
/BankClient/obj/Debug/BankClient.pdb
/BankClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BankClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BankClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BankClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BankClient.sln.DotSettings.user
